@model WebApplication2.Models.Emprunt
<link rel="stylesheet" href="~/css/css2.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/css3.css" asp-append-version="true" />

@{
    Layout = "_Layout";
}

<div class="container">
    <h2>Delete Confirmation</h2>

    <form asp-action="DeleteEmpruntConfirmed" asp-route-empruntId="@Model.Id" method="post">
        <p style="color:white">Are you sure you want to delete this Emprunt?</p>
        <hr />

        <table class="responsive-table">
            <tr>
                <th>ID</th>
                <th>Livre ID</th>
                <th>Abonné ID</th>
                <th>Date d'emprunt</th>
                <th>Date de retour</th>
            </tr>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.LivreId</td>
                <td>@Model.AbonneId</td>
                <td>@Model.DateEmprunt.ToString("dd/MM/yyyy")</td>
                <td>@Model.DateRetour.ToString("dd/MM/yyyy")</td>
            </tr>
        </table>

        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn draw-border">Delete</button>
        <a asp-action="Index" class="btn draw-border">Cancel</a>
    </form>
</div>
