@model WebApplication2.Models.Abonne
@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/css2.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/css3.css" asp-append-version="true" />

<div class="container">
    <table class="responsive-table">
        <caption>Livres empruntés par @Model.Nom @Model.Prenom</caption>
        <thead>
            <tr>


                <th scope="col" style="font-size: 15px">Titre Livre</th>
                <th scope="col" style="font-size: 15px">Date Emprunt</th>
                <th scope="col" style="font-size: 15px">Date Retour</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emprunt in Model.Emprunts)
            {
                <tr>
                    <td scope="row" style="font-size: 15px">@emprunt.Livre.Titre</td>
                    <td scope="row" style="font-size: 15px">@emprunt.DateEmprunt</td>
                    <td scope="row" style="font-size: 15px">@emprunt.DateRetour</td>
                </tr>
            }
        </tbody>
    </table>
